<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
        <body>
        <H1>Api Azure Nombre </H1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Edad</th>
                </tr>
            </thead>
            <tbody>
                {% for persona in datos %}
                <tr>
                    <td>{{ persona.nombre }}</td>
                    <td>{{ persona.email }}</td>
                    <td>{{ persona.edad }}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </body>
</html>