<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
        <body>
        <H1>Api Azure Edad como Parametro </H1>
        <table class="table">
            <thead>
                <tr>
                    <th>Edad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ datos }}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>