{% extends 'base.html.twig' %}
{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-2">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h1>Alta Almunos</h1>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">
                        <form method="POST" action="{{ path('insertarAlumnos') }}">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Nombre</label>
                                    <input type="text" class="form-control" placeholder="Introduce Nombre" name="txtNombre"  class="form-control" id="txtNombre">
                                </div>    
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Apellidos</label>
                                    <input type="text" class="form-control" placeholder="Introduce Apellido" name="txtApellido1"  class="form-control" id="txtApellido1">
                                    <input type="text" class="form-control" placeholder="Introduce Apellido" name="txtApellido2"  class="form-control" id="txtApellido2">
                                </div>    
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Domicilio</label>
                                    <input type="text" class="form-control" placeholder="Introduce Direccion" name="txtDomicilio"  class="form-control" id="txtDomicilio">
                                </div>    
                            </div>
                            <div class="form-group row">
                                Ciudad: 
                                <select name="comboCiudad" id="comboCiudad">
                                    <option value="Madrid" name="txtCiudad" selected>Madrid</option>
                                    <option value="Barcelona" name="txtCiudad">Barcelona</option>
                                    <option value="Sevilla" name="txtCiudad">Sevilla</option>
                                    <option value="Valencia" name="txtCiudad">Velencia</option>
                                    <option value="Bilbao" name="txtCiudad">Bilbao</option>
                                    <option value="Malaga" name="txtCiudad">Malaga</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" id="hombre" name="txtSexo" value="H">
                                    <label class="custom-control-label" for="hombre">Hombre</label>
                                    <input class="custom-control-input" type="radio" id="mujer" name="txtSexo" value="M">
                                    <label class="custom-control-label" for="mujer">Mujer</label>
                                </div>
                            </div>    
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" name="txtSO[]" value="Windows" id="socheck1"/>
                                <label class="custom-control-label" for="socheck1">Windows</label>
                                <input class="custom-control-input" type="checkbox" name="txtSO[]" value="Mac" id="socheck2"/>
                                <label class="custom-control-label" for="socheck2">Mac</label>
                                <input class="custom-control-input" type="checkbox" name="txtSO[]" value="Linux" id="socheck3"/>
                                <label class="custom-control-label" for="socheck3">Linux</label>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="txtComentarios" rows="5">Introducir Comentarios</textarea>    
                            </div>    
                            <button type="submit" class="btn btn-primary"s>
                                Aceptar
                            </button>
                            <button type="submit" class="btn btn-warning">
                                Borrar
                            </button>
                        </form>                 

                        {% if mensaje is defined %}
                            <h2 style="color:red;">{{ mensaje }}</h2>   
                        {% endif %}    

                    </div>
                </div>
            </div>
{% endblock %}

