<html>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Apellido</th>
                    <th>Especialidad</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
            {# Si esta definida la variable muestra los datos de los empleados #}
            {% if datosDoctores is defined %}
                {% for Doctor in datosDoctores %}    
                    <tr>
                        <td scope="row">{{ Doctor.DoctorCod}}</td>
                        {# Formateo String primera letra mayuscula con capitalize #}
                        <td>{{ Doctor.Apellido | capitalize }}</td>
                        <td>{{ Doctor.Especialidad }}</td>
                        {# Formateo Salario con separador de miles(.) y dos decimales (,) #}
                        <td>{{ Doctor.Salario | number_format(2, ',', '.') }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table> 
    </body>
</html>