<html>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Camas</th>
                </tr>
            </thead>
            <tbody>
            {# Si esta definida la variable muestra los datos de los empleados #}
            {% if datosHospitales is defined %}
                {% for Hospital in datosHospitales %}    
                    <tr>
                        <td scope="row">{{ Hospital.HospitalCod}}</td>
                        {# Formateo String primera letra mayuscula con capitalize #}
                        <td>{{ Hospital.Nombre | capitalize }}</td>
                        <td>{{ Hospital.Direccion }}</td>
                        <td>{{ Hospital.Telefono }}</td>
                        <td>{{ Hospital.NumCama }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table> 
    </body>
</html>
