{% extends 'base.html.twig' %}

{% block title %} Busquedas{% endblock %}

{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">    

                        <ol class="round">
                            <li class="one">
                                <h1>Hospitales</h1>
                                <button type="button" id="btnHospitales">Hospitales</button>
                                {# Inicialmente ponemos el DIV a no visible #}
                                <div id="detalleHospitales" style="display: none"></div>
                            </li>
                            <li class="two">
                                <h1>Doctores</h5>
                                <button type="button" id="btnDoctores">Doctores</button>
                                {# Inicialmente ponemos el DIV a no visible #}
                                <div id="detalleDoctores" style="display: none"></div>
                            </li>
                            <li class="three">
                                <h1>Plantilla</h5>
                                <button type="button" id="btnPlantilla">Plantillas</button>
                                {# Inicialmente ponemos el DIV a no visible #}
                                <div id="detallePlantilla" style="display: none"></div>
                            </li>
                        </ol>  

                        <script>
                            {# con Document.ready cuando termine de leer el documento ejecuta lo siguiente #}
                            $(document).ready(function () {
                                // Si se pulsa el primer boton con id btnHospitales 
                                $("#btnHospitales").click(function () {
                                    // Con el efecto .toggle() permite alternar entre dos acciones(mostrar u ocultar el div)
                                    $("#detalleHospitales").toggle("slow");
                                    // carga y muestra RecuperarPersonas en el div detallepersonas
                                    $("#detalleHospitales").load("{{ path('recuperaHospitales')}}");
                                });

                                // Si se pulsa el segundo boton con id btnDoctores
                                $("#btnDoctores").click(function () {
                                    // Con el efecto .toggle() permite alternar entre dos acciones(mostrar u ocultar el div)
                                    $("#detalleDoctores").toggle("slow");
                                    // carga y muestra RecuperarLenguajes en el div detallelenguajes
                                    $("#detalleDoctores").load("{{ path('recuperaDoctores')}}");
                                });
                                
                                // Si se pulsa el tercer boton con id btnPlantilla
                                $("#btnPlantilla").click(function () {
                                    // Con el efecto .toggle() permite alternar entre dos acciones(mostrar u ocultar el div)
                                    $("#detallePlantilla").toggle("slow");
                                    // carga y muestra RecuperarLenguajes en el div detallelenguajes
                                    $("#detallePlantilla").load("{{ path('recuperaPlantillas')}}");
                                });
                            });
                        </script>            

                    </div>
                </div>
            </div>
        </div>
    </div>        
{% endblock %}
