<html>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th>Cogigo Emp</th>
                    <th>Codigo Hosp</th>
                    <th>Codigo Sala</th>
                    <th>Apellido</th>
                    <th>Funcion</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
            {# Si esta definida la variable muestra los datos de los empleados #}
            {% if datosPlantillas is defined %}
                {% for Plantilla in datosPlantillas %}    
                    <tr>
                        <td scope="row">{{ Plantilla.EmpleadoNo}}</td>
                        <td>{{ Plantilla.HospitalCod}}</td>
                        <td>{{ Plantilla.SalaCod}}</td>
                        {# Formateo Apellido primera letra mayuscula #}
                        <td scope="row">{{ Plantilla.Apellido | capitalize }}</td>
                        <td>{{ Plantilla.Funcion }}</td>
                        {# Formateo Salario con separador de miles(.) y dos decimales (,) #}
                        <td>{{ Plantilla.Salario |number_format(2, ',', '.') }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table> 
    </body>
</html>