<html>
    <head>
    </head>
    <body>

        {# Mostramos el idioma #}
        <H2>Locale: {{idioma}}</H2>

        {# Añadimos la etiqueta trans para que traduzca la variable segun el idioma #}
        <b> {% trans %}mensajenombre{% endtrans %} </b> 
        <input type="text" name="txtNombre"/><BR/>
        <b> {% trans %}mensajeapellido{% endtrans %} </b>
        <input type="text" name="txtApellido"/><BR/>
        <b> {% trans %}mensajeedad{% endtrans %} </b>
        <input type="text" name="txtEdad"/><BR/>
        
    </body>
</html>