{% extends 'base.html.twig' %}
{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">

                        {# Control Error si se ha mandado mensaje #}
                        <table border="1" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Titulo</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody>

                                {# Recorro Categorias de Peliculas para mostrar Peliculas #}
                                {% for datoPelicula in datosPeliculas %}
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" 
                                                    type="checkbox" 
                                                    name="marcada[]" 
                                                    value="S" 
                                                    id="marcada" 
                                                    onchange="modificarseleccion({{ datoPelicula.idpelicula, genero }})"
                                                />
                                                {# <input class="custom-control-input" type="checkbox" name="marcada[]" value="N" id="nomarcada"/> #}
                                            </div>
                                        </td>
                                        <td scope="row">{{ datoPelicula.titulo }}</td>
                                        <td>
                                        <td scope="row">{{ datoPelicula.precio }}</td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                        <script>
                                function modificarseleccion( id, genero ) {
                                    $.ajax({ 
                                        // Metodo Envio
                                        type: "GET", 
                                        // Url a donde quiero llamar
                                        url: "{{ path('almacenarPelicula') }}",
                                        // data sera los parametros enviados genero lleva & al ser segundo parametro 
                                        data: "id=" + id + "&genero=" genero 
                                        // Cuando llega la informacion
                                        /* success: 
                                            // msg es lo que devuelve el controlador.
                                            // Carga en el ID detalleget todo el contenido HTML que carga la peticion
                                            function(msg){
                                                $("#detalleget").html(msg);
                                            }  
                                        */
                                    });
                                }
                        </script>

                        <br/><br/><br/>

                    </div>
                </div>
            </div>
{% endblock %}
