{% extends 'base.html.twig' %}
{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">
                        <h1>Pagina Compra por Genero</h1>
                        <HR>
                        {# Pasamos la variable entre comillas simples para que JS sepa que es un Parametro #}
                            <a id="peliculasAccion" href="#" > Accion</a>
                            <a id="peliculasTerror" href="#" > Terror</a>
                            <a id="peliculasHumor" href="#"> Humor</a>
                            <a id="peliculasRomantica" href="#"> Romantica</a>
                        
                        <HR/>
                        <div id="detallepeliculas"></div>

                        {# Ajax para mostrar segun el check pulsado el detalle actualizado de la categoria de las Peliculas    #}
                        <script>
                            {# con Document.ready cuando termine de leer el documento ejecuta lo siguiente #}
                            $(document).ready(function () {
                                // Si se pulsa enlace de Peliculas de Accion 
                                $("#peliculasAccion").click(function () {
                                    // carga y muestra RecuperarPersonas en el div detallepersonas
                                    $("#detallepeliculas").load("{{ path('Accion')}}");
                                }); 

                                // Si se pulsa enlace de Peliculas de Terror
                                $("#peliculasTerror").click(function () {
                                    // carga y muestra RecuperarLenguajes en el div detallelenguajes
                                    $("#detallepeliculas").load("{{ path('Terror')}}");
                                });
                                
                                // Si se pulsa enlace de Peliculas de Humor
                                $("#peliculasHumor").click(function () {
                                    // carga y muestra RecuperarLenguajes en el div detallelenguajes
                                    $("#detallepeliculas").load("{{ path('Humor')}}");
                                });
                                
                                // Si se pulsa enlace de Peliculas Romanticas
                                $("#peliculasRomantica").click(function () {
                                    // carga y muestra RecuperarLenguajes en el div detallelenguajes
                                    $("#detallepeliculas").load("{{ path('Romantica')}}");
                                });
                            });
                        </script>       


                    </div>
                </div>
            </div>
{% endblock %}

