{% extends 'base.html.twig' %}
{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">

                        {# Control Error si se ha mandado mensaje #}
                        <table border="1" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Titulo</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                                {# Recorro Array de Peliculas guardadas en la Sesion #}
                                {% for datoPelicula in datosPeliculas %}
                                    <tr>
                                        <td>
                                            <div class="container-fluid">
                                                <img class="img-fluid" src="img/{{ datoPelicula.foto }}"/> 
                                            </div>
                                        </td>
                                        <td scope="row">{{ datoPelicula.titulo }}</td>
                                        <td>
                                        <td scope="row">{{ datoPelicula.precio }}</td>
                                    </tr>
                                {% endfor %}

                                {% if mensaje is defined %}
                                    <tr>
                                        <h3 style="color:blue;">{{ mensaje }}</h3>   
                                    <tr>    
                                {% endif %}  
                            </tbody>
                        </table>
                        <a href="{{ path('Inicio') }}">Volver</a>
                        <br/><br/><br/>

                    </div>
                </div>
            </div>
{% endblock %}
