{% extends 'base.html.twig' %}
{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Gestion de Hospitales</h2>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">
                        <h1>Empleados por Oficio Ajax</h1>
                        <HR>
                        <h2>Selecciona Oficio de un Empleado</h2>
                            <table class="table">
                            <tbody>
                                {# Recorro Oficios para mostrar Empleados #}
                                {% for datoOficio in datosOficios %}
                                    <tr>
                                        <td scope="row">{{ datoOficio.oficio }}</td>
                                        <td>
                                        {# Pasamos la variable entre comillas simples para que JS sepa que es un Parametro #}
                                        <a href="#" OnClick="verDatos( '{{datoOficio.oficio}}' );" > Mostrar Empleados</a>
                                        {# <a href="{{ path('recuperarEmpleados', {oficio: datoOficio.oficio }) }}">Mostrar Empleados</a> #}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <HR/>
                            <div id="detalleget" ></div>
                        <HR/>

                        <script>
                                function verDatos( empleo ) {
                                    $.ajax({ 
                                        // Metodo Envio
                                        type: "GET", 
                                        // Url a donde quiero llamar
                                        url: "{{ path('recuperarEmpleados') }}",
                                        // data sera los parametros enviados nombre lleva & al ser segundo parametro 
                                        data: "oficio=" + empleo, 
                                        // Cuando llega la informacion
                                        success: 
                                            // msg es lo que devuelve el controlador.
                                            // Carga en el ID detalleget todo el contenido HTML que carga la peticion
                                            function(msg){
                                                $("#detalleget").html(msg);
                                            } 
                                    });
                                }
                        </script>


                    </div>
                </div>
            </div>
{% endblock %}

