{% extends 'base.html.twig' %}

{% block title %} Busqueda Empleados{% endblock %}

{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h1>Busqueda de Empleados </h1>                    
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">    

                     <form method="POST" action="{{ path('buscarEmpleados') }}">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Apellido</label>
                                    <input type="text" class="form-control" placeholder="Introduce Apellido" name="txtApellido"  class="form-control" id="txtApellido">
                                </div>    
                            </div>
                            <br>    
                            <button type="submit" class="btn btn-primary" name="buscar" value="buscar">
                                Buscar Empleados
                            </button>
                        </form>
                        <br>                 

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Apellido</th>
                                    <th>Oficio</th>
                                    <th>Salario</th>
                                </tr>
                            </thead>
                            <tbody>
                            {# Si esta definida la variable muestra los datos de los empleados #}
                            {% if datosEmpleados is defined %}
                                {% for Empleados in datosEmpleados %}    
                                    <tr>
                                        {# | capitalize |upper #}
                                        {# Formateo Apellido primera letra mayuscula #}
                                        <td scope="row">{{ Empleados.Apellido | capitalize }}</td>
                                        <td>{{ Empleados.Oficio }}</td>
                                        {# Formateo Salario con separador de miles(.) y dos decimales (,) #}
                                        {# decimal: The number of decimal points to display #}
                                        {# decimal_point: The character(s) to use for the decimal point #}
                                        {# thousand_sep: The character(s) to use for the thousands separator #}
                                        <td>{{ Empleados.Salario |number_format(2, ',', '.') }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table> 

                    </div>
                </div>
            </div>
        </div>
    </div>        
{% endblock %}
