{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Api Azure</h2>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">
                        <h1>Empleados</h1>
                        <HR>
                        <div class="form-group row my-3">
                            <form method="GET" action="{{ path('buscarEmpleado') }}">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <input type="number" class="form-control" placeholder="Código Empleado" name="txtId" class="form-control" id="txtId">
                                    </div>
                                    <button type="submit" class="btn btn-primary col-sm-3" name="buscarId" value="buscarId">
                                        <i class="fa fa-search" aria-hidden="true"></i> Buscar por Código
                                    </button>   
                                </div>                                    
                            </form>
                        </div>

                        {% if datosId is defined %}
                            <table border="1" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Apellido</th>
                                        <th>Oficio</th>
                                        <th>Salario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {# {% for empleado in datosId %}  #}
                                        <tr>
                                            {# Formateo a mayusculas con upper #}
                                            <td scope="row">{{ datosId.apellido}}</td>
                                            <td>{{ datosId.oficio }}</td>
                                            <td>{{ datosId.salario }}</td>
                                        </tr>
                                     {# {% endfor%}  #}
                                </tbody>
                            </table>
                        {% endif %}

                        <div class="form-group row my-3">
                            <form method="GET" action="{{ path('buscarEmpleadoOficio') }}">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" placeholder="Oficio" name="txtOficio" class="form-control" id="txtOficio">
                                    </div>
                                    <button type="submit" class="btn btn-primary col-sm-3" name="buscarOficio" value="buscarOficio">
                                        <i class="fa fa-search" aria-hidden="true"></i> Buscar por Oficio
                                    </button>   
                                </div>                                    
                            </form>
                        </div>

                        {% if datosEmpleadosOficio is defined %}
                            {# Muestra el Detalle de todos los empleados de id detalleget #}
                            <table border="1" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Apellido</th>
                                        <th>Oficio</th>
                                        <th>Salario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for empleado in datosEmpleadosOficio %}
                                        <tr>
                                            {# Formateo a mayusculas con upper #}
                                            <td scope="row">{{ empleado.apellido  | upper  }}</td>
                                            <td>{{ empleado.oficio }}</td>
                                            <td>{{ empleado.salario }}</td>
                                        </tr>
                                    {% endfor%}
                                </tbody>
                            </table>
                        {% endif %} 

                        <div class="form-group row my-3">
                            <form method="GET" action="{{ path('recuperarEmpleados') }}">
                                <div class="row mb-4 mb-lg-5">
                                    <button type="submit" class="btn btn-primary col-sm-3" name="buscarTodos" value="buscarTodos">
                                        <i class="fa fa-search" aria-hidden="true"></i> Ver Todos
                                    </button>    
                                </div>        
                            </form>
                        </div>
                        
                        {% if datosEmpleados is defined %}
                            {# Muestra el Detalle de todos los empleados de id detalleget #}
                            <table border="1" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Apellido</th>
                                        <th>Oficio</th>
                                        <th>Salario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for empleado in datosEmpleados %}
                                        <tr>
                                            {# Formateo a mayusculas con upper #}
                                            <td scope="row">{{ empleado.apellido  | upper  }}</td>
                                            <td>{{ empleado.oficio }}</td>
                                            <td>{{ empleado.salario }}</td>
                                        </tr>
                                    {% endfor%}
                                </tbody>
                            </table>
                        {% endif %} 

                    </div>
                </div>
            </div>
{% endblock %}
