{% extends 'base.html.twig' %}

{% block title %} Ingreso de Pacientes{% endblock %}

{% block body %}
   <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">
                        {# Muestro la Imagen de Carnet #}
                        <img class="img-fluid" src="img/CarnetMadridista.bmp" style="text-align: center;" /> 
                        <div class="container-fluid">
                            {# Debemos pasar el locale dado que al estar en el controlador ya ha pasado por onKernelRequest #}
                            <a href="/es/idioma" target="_blank">
                                <img class="img-fluid" src="img/flag-spanish.gif" style="text-align: center;" /> 
                            </a>
                            <a href="/en/idioma" target="_blank">
                                <img class="img-fluid" src="img/flag-english.gif" style="text-align: center;" /> 
                            </a>o
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>                      
{% endblock %}