{% extends 'base.html.twig' %}
{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-2">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h1>{% trans %}alta{% endtrans %}</h1>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">
                        <form method="POST" action="{{ path('altaCarnet') }}">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">{% trans %}nombre{% endtrans %}</label>
                                    <input type="text" class="form-control" placeholder="{% trans %}nombre{% endtrans %}" name="txtNombre"  class="form-control" id="txtNombre">
                                </div>    
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">{% trans %}primerapellido{% endtrans %}</label>
                                    <input type="text" class="form-control" placeholder="{% trans %}primerapellido{% endtrans %}" name="txtApellido1"  class="form-control" id="txtApellido1">
                                </div>
                            <div class="form-group row">    
                                <div class="col-sm-10">
                                    <label class="form-label">{% trans %}segundoapellido{% endtrans %}</label>
                                    <input type="text" class="form-control" placeholder="{% trans %}segundoapellido{% endtrans %}" name="txtApellido2"  class="form-control" id="txtApellido2">
                                </div>    
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">{% trans %}telefono{% endtrans %}</label>
                                    <input type="number" class="form-control" placeholder="{% trans %}telefono{% endtrans %}" name="txtDomicilio"  class="form-control" id="txtDomicilio">
                                </div>    
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">{% trans %}email{% endtrans %}</label>
                                    <input type="email" class="form-control" placeholder="{% trans %}email{% endtrans %}" name="txtEmail"  class="form-control" id="txtDomicilio">
                                </div>    
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">{% trans %}confirmaremail{% endtrans %}</label>
                                    <input type="email" class="form-control" placeholder="{% trans %}confirmaremail{% endtrans %}" name="txtConfirmaEmail"  class="form-control" id="txtDomicilio">
                                </div>    
                            </div>
                            <div class="row">
                                {% trans %}socio{% endtrans %}
                            </div>
                            <div class="row">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" id="txtSocio" name="txtSocio" value="S">
                                    <label class="custom-control-label" for="si">{% trans %}si{% endtrans %}</label>
                                    <input class="custom-control-input" type="radio" id="txtSocio" name="txtSocio" value="N">
                                    <label class="custom-control-label" for="no">{% trans %}no{% endtrans %}</label>
                                </div>
                            </div>
                            <div class="row">
                                {% trans %}menor{% endtrans %}
                            </div>
                            <div class="row">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" id="txtMenor" name="txtMenor" value="S">
                                    <label class="custom-control-label" for="si">{% trans %}si{% endtrans %}</label>
                                    <input class="custom-control-input" type="radio" id="txtMenor" name="txtMenor" value="N">
                                    <label class="custom-control-label" for="no">{% trans %}no{% endtrans %}</label>
                                </div>
                            </div>   
                            <div class="row">
                                {% trans %}residencia{% endtrans %}
                            </div> 
                            <div class="row">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" id="txtResidencia" name="txtResidencia" value="S">
                                    <label class="custom-control-label" for="si">{% trans %}si{% endtrans %}</label>
                                    <input class="custom-control-input" type="radio" id="txtResidencia" name="txtResidencia" value="N">
                                    <label class="custom-control-label" for="no">{% trans %}no{% endtrans %}</label>
                                </div>
                            </div>
                           
                            <button type="submit" class="btn btn-primary"s>
                                {% trans %}aceptar{% endtrans %}
                            </button>
                        </form>                 

                        {% if mensaje is defined %}
                            <h2 style="color:blue;">{{ mensaje }}</h2>   
                        {% endif %}    

                    </div>
                </div>
            </div>
{% endblock %}
