h2 {
    color: rgb(62, 58, 110);
}

ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#menu li {
    float: left;
}

ul#menu a {
    display: block;
    padding: 10px;
    background-color: #ffffff;
}

.caja {
    width: fit-content;
}