{% extends 'base.html.twig' %}
{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Gestion de Hospitales</h2>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">

                            <table class="table">
                            <thead>
                                <tr>
                                    <th>Hospital</th>
                                    <th>Direccion</th>
                                    <th>Telefono</th>
                                    <th>Filtro</th>
                                </tr>
                            </thead>
                            <tbody>
                                {# Recorro Hospitales para mostrarlos en Tabla #}
                                {% for Hospital in datosHospitales %}
                                    <tr>
                                        <td scope="row">{{ Hospital.Nombre }}</td>
                                        <td>{{ Hospital.Direccion }}</td>
                                        <td>{{ Hospital.Telefono }}</td>
                                        <td>
                                            <a href="{{ path('ver_datos', {id: Hospital.HospitalCod }) }}">Mostrar Plantilla</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
{% endblock %}

