<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-wine-glass"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Gestion Hospitales</span></div>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link active" href="{{ path('hospitales') }}">Plantilla Hospitales</a></li>
            {# <li class="nav-item"><a class="nav-link" href="/vinopalaciograjal">Palacio Grajal</a></li> #}
            
        </ul>
        <hr class="sidebar-divider my-0" />
    </div>
</nav>