{% extends 'base.html.twig' %}
{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Gestion de Hospitales</h2>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">

                        {# Control Error si se ha mandado mensaje #}
                        {% if mensaje is defined %}
                            <h1 style="color:warning;">HOSPITAL NO ENCONTRADO</h1>
                        {% else %}
                            <h1 style="color:green;">HOSPITAL {{ codigoHospital }} </h1>
                        <table border="1" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Apellido</th>
                                    <th>Salario</th>
                                    <th>Hospital</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dato in datosPlantilla %}
                                <tr>
                                    <td scope="row">{{ dato.Apellido }}</td>
                                    <td>{{ dato.Salario }}</td>
                                    <td>{{ dato.HospitalCod }}</td>
                                </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                        <br/><br/><br/>
                        {% endif %}

                    </div>
                </div>
            </div>
{% endblock %}
