<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <meta name="description" content="Vinos Ribera del Duero" />
        <title>{% block title %}Gestion Hospital{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('fonts/fontawesome-all.min.css') }}">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

        <!-- Bootstrap 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        -->
       
        {% block javascripts_headers %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/theme.js') }}"></script>
        {% endblock %}
    
    </head>
    <body id="page-top">
        <div id="wrapper">
            {# Incluimos el Menu #}
            {{ include('menu.html.twig') }}

            <div class="d-flex flex-column" id="content-wrapper">
                <div id="content">
                    {# Incluimos el Body #}
                    {% block body %}
                    {% endblock %}

                    {# Mostramos todos los mensajes Flash de tipo Success #}
                    {% for message in app.flashes('notice') %}
                        <div class="flash-notice">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {# Recupera el valor (que no se está asignando a una variable y, por lo tanto, se "elimina" de la carpeta flash) #}
                    {# $flashbag->get("notice"); #}
                    
                </div>
            </div>
        </div>
        
    </body>
</html>