{% extends 'base.html.twig' %}

{% block title %} Mostrar Hospitales{% endblock %}

{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Listado de Hospitales</h2>                    
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Codigo Hospital</th>
                                    <th>Nombre</th>
                                    <th>Direccion</th>
                                    <th>Telefono</th>
                                    <th>Numero Camas</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for Hospital in datosHospitales %}
                                    <tr>
                                        <td scope="row">{{ Hospital.Hospital_cod }}</td>
                                        <td>{{ Hospital.Nombre }}</td>
                                        <td>{{ Hospital.Direccion }}</td>
                                        <td>{{ Hospital.Telefono }}</td>
                                        <td>{{ Hospital.NumCamas }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>        
{% endblock %}
