{% extends 'base.html.twig' %}

{% block title %} Modificacion Hospital{% endblock %}

{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Modificar Hospital</h2>                    
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">
                        <form method="POST" action="{{ path('modificarHospital') }}">
                            <div>
                                <label class="form-label">
                                Codigo Hospital
                                </label>
                                <input type="text" name="txtHospitalCod"  class="form-control" id="txtHospitalCod">
                            </div>
                            <div>
                                <label class="form-label">
                                Nombre
                                </label>
                                <input type="text" name="txtNombre"  class="form-control" id="txtNombre">
                            </div>
                            <div>
                                <label class="form-label">
                                Direccion
                                </label>
                                <input type="text" name="txtDireccion"  class="form-control" id="txtDireccion">
                            </div>
                            <div>
                                <label class="form-label">
                                Telefono
                                </label>
                                <input type="number" name="txtTelefono"  class="form-control" id="txtTelefono">
                            </div>
                            <div>
                                <label class="form-label">
                                Numero de Camas
                                </label>
                                <input type="number" name="txtNumeroCamas"  class="form-control" id="txtNumeroCamas">
                            </div>
                            <button type="submit" class="btn btn-primary">
                            Modificar Hospital
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>        
{% endblock %}