{% extends 'base.html.twig' %}
{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">
                        <h1>Informe de Empleados</h1>
                        <HR>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    {# <th>Codigo</th> #}
                                    <th>Apellido</th>
                                    <th>Oficio</th>
                                    <th>Informe</th>
                                </tr>
                            </thead>
                            <tbody>
                                {# Recorro Oficios para mostrar Empleados #}
                                {% for datoEmpleado in datosEmpleados %}
                                    <tr>
                                        {# <td scope="row">{{ datoEmpleado.EmpNo }}</td> #}
                                        <td scope="row">{{ datoEmpleado.apellido | upper}}</td>
                                        <td>{{ datoEmpleado.oficio }}</td>
                                        <td>
                                            <a href="{{ path('informeEmpleado', {codigo: datoEmpleado.EmpNo }) }}">Mostrar Empleados</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
{% endblock %}

