{% extends 'base.html.twig' %}
{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">

                        {# Control Error si se ha mandado mensaje #}
                        <table border="1" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Apellido</th>
                                    <th>Empleo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dato in datosEmpleados %}
                                <tr>
                                    {# Formateo a mayusculas con upper #}
                                    <td scope="row">{{ dato.Apellido  | upper  }}</td>
                                    <td>{{ dato.Oficio }}</td>
                                </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                        <br/><br/><br/>

                    </div>
                </div>
            </div>
{% endblock %}
