<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ejemplos con procedimientos almacenados</title>
    </head>
    <body>
        <h1 style="color:blue;">DATOS BORRADOS: {{afectados}}</h1>
    </body>
</html>