<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Ejemplos con procedimientos almacenados</title>
    </head>
    <body>
        <form name="form1" method="POST" action="{{ path('eliminarDepart') }}">
            <table border="1">
                <tr>
                    <td>Introduzca ID Departamento </td>
                    <td>
                        <input type="text" name="txtId"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Borrar"/>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
