<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h2 style='color:blue'>VARIABLES SESSION</H2>
        <form method="post" action="{{path('verPagina2')}}">
            <button type="submit" name="datos"value="Session">
                Mostrar variables session
            </button>
        </form>
    </body>
</html>