<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th>Apellido</th>
                    <th>Oficio</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
                {% for e in datosEmp %}
                    <tr>
                        <td>{{ e.Apellido }}</td>
                        <td>{{ e.Oficio }}</td>
                        <td>{{ e.Salario }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>