{% extends 'base.html.twig' %}

{% block title %} Personajes Starwars{% endblock %}

{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Altura</th>
                                    <th>Peso</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for p in datosPersonajes %}
                                    <tr>
                                        <td>{{ p.name }}</td>
                                        <td>{{ p.height }}</td>
                                        <td>{{ p.mass }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}