{% extends 'base.html.twig' %}
{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Gestion de Departamentos</h2>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>DeptNo</th>
                                    <th>Nombre</th>
                                    <th>Localización</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {# Recorro Departamentos para mostrarlos en Tabla #}
                                {% for Departamento in datosDepartamentos %}
                                    <tr>
                                        <td scope="row">{{ Departamento.id }}</td>
                                        <td>{{ Departamento.dnombre | upper}}</td>
                                        <td>{{ Departamento.loc | upper}}</td>
                                        <td>
                                            <a href="{{ path('borrarDepartamento', {numdpto: Departamento.id }) }}">Borrar</a>
                                            <span> / </span>
                                            <a href="{{ path('editarDepartamento', {numdpto: Departamento.id, dnombre: Departamento.dnombre, loc: Departamento.loc}) }}">Editar</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div>
                            <a href="{{ path('nuevoDepartamento') }}">Nuevo</a>
                        </div>    

                        {# Si existe mensaje se muestra #}
                        {% if mensaje is defined %}
                            <br>
                            <h3 style="color:blue;"> {{mensaje}} </h3>
                        {% endif %}   

                    </div>
                </div>
            </div>
{% endblock %}

