{% extends 'base.html.twig' %}

{% block title %} Modificacion Departamento{% endblock %}

{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Modificar Departamento</h2>                    
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">
                        <form method="POST" action="{{ path('modificarDepartamento') }}">
                            <div class="form-group">
                                <label class="form-label">
                                DeptNo
                                </label>
                                {# La etiqueta numero de departamento tendra el valor del id mandado y sera no editable #}
                                <input type="text" name="txtDeptNo"  class="form-control-plaintext" id="txtDeptNo" placeholder="{{id}}" value="{{id}}" readonly disabled >
                            </div>
                            <div class="form-group">
                                <label class="form-label"> 
                                Nombre
                                </label>
                                {# Campo Obligatorio por lo que se mete etiqueta Required #}
                                <input type="text" name="txtNombre"  class="form-control" id="txtNombre" placeholder="{{dnombre}}" value="{{dnombre}}">
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                Localización
                                </label>
                                {# Campo Obligatorio por lo que se mete etiqueta Required #}
                                <input type="text" name="txtLocalizacion"  class="form-control" id="txtLocalizacion" placeholder="{{loc}}" value="{{loc}}">
                            </div>
                            <button type="submit" class="btn btn-primary">
                            Editar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>        
{% endblock %}