{% extends 'base.html.twig' %}

{% block title %} Mostrar Departamento{% endblock %}

{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Mostrar Departamento</h2>                    
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">    

                     <form method="POST" action="{{ path('empleadosOficio') }}">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Oficio</label>
                                    <input type="text" class="form-control" placeholder="Introduce Oficio" name="txtOficio"  class="form-control" id="txtOficio">
                                </div>    
                            </div>
                            <br>    
                            <button type="submit" class="btn btn-primary" name="buscar" value="buscar">
                                Buscar
                            </button>
                        </form>
                        <br>                 

                        {# Si esta definida la variable muestra los datos del registro seleccionado #}
                        {% if datosEmpleadosOficio is defined %}
                            {% for EmpleadosOficio in datosEmpleadosOficio %}    
                                <div>
                                    {{ EmpleadosOficio.Oficio }} 
                                    {{ EmpleadosOficio.Apellido }}
                                    {{ EmpleadosOficio.Salario }}
                                </div>    
                            {% endfor %} 
                        {% endif %}

                        {# Si esta definido mensaje se visualiza #}
                        {% if mensaje is defined %}
                            <h2 style="color:red;">{{ mensaje }}</h2>   
                        {% endif %}  

                    </div>
                </div>
            </div>
        </div>
    </div>        
{% endblock %}
