<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <meta name="description" content="Vinos Ribera del Duero" />
        <title>{% block title %}Gestion Hospital{% endblock %}</title>
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('fonts/fontawesome-all.min.css') }}">
        {% endblock %}
       
        {% block javascripts_headers %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    
    </head>
    <body id="page-top">
        <div id="wrapper">

            <div class="d-flex flex-column" id="content-wrapper">
                <div id="content">
                    {# Incluimos el Body #}
                    {% block body %}
                    {% endblock %}
                    
                </div>
            </div>
        </div>
        
    </body>
</html>
