{% extends 'base.html.twig' %}

{% block title %} Residencias{% endblock %}

{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">
                        <h3> Centros de día de la comunidad de Madrid </h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Centro de día</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for r in datosResidencias %}
                                    <tr scope="row">
                                        <td>{{ r.title }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}