{% extends 'base.html.twig' %}

{% block title %} Alta Doctores{% endblock %}

{% block body %}
   <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Mostrar Departamento</h2>                    
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">    
                        <form method="POST" action="{{ path('altaDoctor') }}">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Codigo Hospital</label>
                                    <input type="number" class="form-control" placeholder="Introduce Codigo Hospital" name="txtHospitalCod"  class="form-control" id="txtHospitalCod">
                                </div>    
                            </div>
                                <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Apellido</label>
                                    <input type="text" class="form-control" placeholder="Introduce Apellido" name="txtApellido"  class="form-control" id="txtApellido">
                                </div>    
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Especialidad</label>
                                    <input type="text" class="form-control" placeholder="Introduce Especialidad" name="txtEspecialidad"  class="form-control" id="txtEspecialidad">
                                </div>    
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Salario</label>
                                    <input type="number" class="form-control" placeholder="Introduce Salario" name="txtSalario"  class="form-control" id="txtSalario">
                                </div>    
                            </div>
                            <button type="submit" class="btn btn-primary" name="alta" value="alta">
                                Alta
                            </button>
                            <br>
                            {% if afectados is defined %}
                                <h1 style="color:blue;"> {{afectados}} REGISTRO INSERTADO </h1>
                            {% endif %}    
                        </form>  
                </div>
            </div>
        </div>
    </div>                      
{% endblock %}
