<html>
    <head>
        <meta charset="UTF-8">
        <title>My Application</title>
    </head>
    <body>
        <table border="1" style="background-color: #DDDDDD; width: 500px;">
            <tr>
                <th colspan="3"> LISTADO DE EMPLEADOS </th>
            </tr>
            <tr>
                <th  style="width: 50px;"> Num. </th>
                <th  style="width: 225px;"> Apellido </th>
                <th  style="width: 225px;"> Puesto </th>
            </tr>
            {% for fila in datosP %}
                <tr>
                    <td>  {{ fila.empNo }} </td>
                    <td>  {{ fila.apellido }} </td>
                    <td>  {{ fila.oficio }}</td>
                </tr>
            {% endfor %}
        </table>       
        <div>
            {{ knp_pagination_render(datosP) }}
        </div>
    </body>
</html>