{% extends 'base.html.twig' %}

{% block title %} Alta Enfermo{% endblock %}

{% block body %}
   <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">    
                        <form method="POST" action="{{ path('altaEnfermo') }}">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Inscripción</label>
                                    <input type="number" class="form-control" placeholder="Introduce Inscripción" name="txtInscripcion"  class="form-control" id="txtInscripcion">
                                </div>    
                            </div>
                                <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Apellido</label>
                                    <input type="text" class="form-control" placeholder="Introduce Apellido" name="txtApellido"  class="form-control" id="txtApellido">
                                </div>    
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Direccion</label>
                                    <input type="text" class="form-control" placeholder="Introduce Direccion" name="txtDireccion"  class="form-control" id="txtDireccion">
                                </div>    
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Fecha Nacimiento</label>
                                    <input type="date" class="form-control" placeholder="Introduce Fecha Nacimiento" name="txtFechanacimiento"  class="form-control" id="txtFechanacimiento">
                                </div>    
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Sexo</label>
                                    <input type="text" class="form-control" placeholder="Sexo" name="txtSexo"  class="form-control" id="txtSexo">
                                </div>    
                            </div>
                            <button type="submit" class="btn btn-primary" name="alta" value="alta">
                                Alta
                            </button>
                            <br>
                            {% if afectados is defined %}
                                <h1 style="color:blue;"> {{afectados}} REGISTRO INSERTADO </h1>
                            {% endif %}    
                        </form>  
                </div>
            </div>
        </div>
    </div>                      
{% endblock %}
