{% extends 'base.html.twig' %}

{% block title %} Ingreso de Pacientes{% endblock %}

{% block body %}
   <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">    
                        <form method="POST" action="{{ path('FormularioSS') }}">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Numero de Seguridad Social</label>
                                    <input type="number" class="form-control" placeholder="Introduce NSS" name="txtNumeroSS"  class="form-control" id="txtNumeroSS">
                                </div>    
                            <button type="submit" class="btn btn-primary" name="alta" value="alta">
                                Aceptar
                            </button>
                            <br>
                            {% if mensaje is defined %}
                                <h1 style="color:red;"> {{mensaje}} </h1>
                            {% endif %}    
                        </form>  
                </div>
            </div>
        </div>
    </div>                      
{% endblock %}
