<html>
    <head>
    </head>
    <body>
        <script src="/jquery-3.2.1.min.js" type="text/javascript"></script>
        <h3>Pulsa en el enlace:</h3>
        {# Llamo a funcion JS VerDatos pasando los parametros segun el enlace seleccionado #}
        <a href="#" OnClick="verDatos(1,'Benito');" > Datos 1 </a> <BR/>
        <a href="#" OnClick="verDatos(2,'Alex');" > Datos 2</a> <BR/>
        <a href="#" OnClick="verDatos(3,'Andrea');" > Datos 3</a><BR/>
        <HR/>
        <div id="detalleget" ></div>
        <HR/>

        <script>
            function verDatos( id, nombre ) {
                $.ajax({ 
                    // Metodo Envio
                    type: "GET", 
                    // Url a donde quiero llamar
                    url: "{{ path('Recuperar')}}",
                    // data sera los parametros enviados nombre lleva & al ser segundo parametro 
                    data: "id=" + id + "&nombre=" + nombre, 
                    // Cuando llega la informacion
                    success: 
                        // msg es lo que devuelve el controlador.
                        // Carga en el ID detalleget y carga todo el contenido HTML que carga la peticion
                        function(msg){
                            $("#detalleget").html(msg);
                        } 
                });
            }
        </script>
    
    </body>
</html>
