<html>
    <head>
    </head>
    <body>
        <table>
            <tbody>
                <tr>
                    <td>{{ a }}</td>
                    <td>{{ b }}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>