<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 style="color:blue;">FILTRADO DE DATOS CON PARÁMETROS</h1>
    <table border="1" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Localidad</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in datosDept %}
            <tr>
                <td>{{ dato.id }}</td>
                <td>{{ dato.dnombre }}</td>
                <td>{{ dato.loc }}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
    <br/><br/><br/>
</body>
</html>