{% extends 'base.html.twig' %}

{% block title %} Ingreso de Pacientes{% endblock %}

{% block body %}
   <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h1 align="center">Almacenar Empleados con Sesion</h1>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">
                        <ul class="list-group">
                            {# Recorro Todos los Empleados #}
                            {% for datoEmpleado in datosEmpleados %}
                                <li class="list-group-item">{{ datoEmpleado.apellido }}
                                    <a href="{{ path('almacenarEmpleado', {codempleado: datoEmpleado.EmpNo}) }}">Almacenar</a>     
                                    {# <a href="{{ path('almacenarEmpleado', 
                                                {codigo: datoEmpleado.EmpNo },
                                                {apellido: datoEmpleado.Apellido },
                                                {oficio: datoEmpleado.Oficio },
                                                {salario: datoEmpleado.Salario }
                                    ) }}">Almacenar</a> #}
                                </li>
                            {% endfor %}    
                        </ul>
                        <br>
                        {% if mensaje is defined %}
                            <h2 style="color:blue;"> {{mensaje}} </h2>
                        {% endif %}
                        <br>    
                        <a href="{{ path('resumenEmpleados') }}">Resumen de Empleados</a>
                    </div>    
                </div>
            </div>
        </div>
    </div>                      
{% endblock %}
