{% extends 'base.html.twig' %}

{% block title %} Alta Enfermo{% endblock %}

{% block body %}
   <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h1 align="center">Resumen de Empleados Sesion</h1> 
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">    
                        {% for empleado in datosempleados %}
                            <div>
                                {{ empleado.apellido }}
                                {{ empleado.oficio }}
                                <a href="{{ path('quitarSesion', {empleadoaborrar: empleado }) }}">Quitar Sesion</a>
                            </div>    
                        {% endfor %}    
                        
                        {% if mensaje is defined %}
                            <h1 style="color:blue;"> {{mensaje}} </h1>
                        {% endif %}
                        <br>
                        <a href="{{ path('Empleados') }}">Volver</a>
                </div>
            </div>
        </div>
    </div>                      
{% endblock %}
