{% extends 'base.html.twig' %}

{% block title %} Alta departamentos{% endblock %}
{% block body %}
<h1>Formulario Alta Departamentos</h1>
<form method="POST" action="{{ path('insertarDepart') }}">
    <div>
        <label class="form-label">
            Nombre
        </label>
        <input type="text" name="txtNombre"  class="form-control" id="txtNombre" aria-describedby="emailHelp">
    </div>
    <div>
        <label class="form-label">
            Loc
        </label>
        <input type="text" name="txtLoc"  class="form-control" id="txtLoc">
    </div>
        <button type="submit" class="btn btn-primary">
            Alta departamento
        </button>
</form>
{% endblock %}