{% extends 'base.html.twig' %}

{% block title %} Alta departamentos{% endblock %}
{% block body %}
<h1 class="btn-danger">Alta de Doctores</h1>
<form method="POST" action="{{ path('insertarDoctor') }}">
    <div>
        <label class="form-label alert alert-primary">
            Codigo de Hospital
        </label>
        <input type="number" name="HospitalCod"  class="form-control" id="HospitalCod">
    </div>
    <div>
        <label class="form-label  alert alert-primary">
            Apellido          
        </label>
        <input type="text" name="Apellido"  class="form-control" id="Apellido">
    </div>
    <div>
        <label class="form-label  alert alert-primary">
            Especialidad       
        </label>
        <input type="text" name="Especialidad"  class="form-control" id="Especialidad">
    </div>
    <div>
        <label class="form-label  alert alert-primary">
            Salario            
        </label>
        <input type="number" name="Salario"  class="form-control" id="Salario">
    </div>

        <button type="submit" class="btn btn-danger">
            Alta departamento  
        </button>
</form>
{% endblock %}