{% extends 'base.html.twig' %}

{% block title %} Registro No encontrado Borrado{% endblock %}
{% block body %}

<div>
    <h1>
        <img src="img/incorrect.png" width="50px" class="img-fluid rounded-top" alt="">
        {{ mensaje }} 
    </h1>
</div>    

{% endblock %}