{% extends 'base.html.twig' %}

{% block title %} Registro Borrado{% endblock %}
{% block body %}

<div>
    <h1>
        <img src="img/correcto.png" width="50px" class="img-fluid rounded-top" alt="correcto">
        {{ mensaje }} 
    </h1>
</div>    


{% endblock %}