{% extends 'base.html.twig' %}

{% block body %}
   <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <h3> Buscador de Peliculas </h3>
                    <div class="p-4">    
                        <form method="GET" action="{{ path('BusquedaTitulo') }}">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Titulo</label>
                                    <input type="text" class="form-control" placeholder="Introduce Titulo" name="txtTitulo"  class="form-control" id="txtTitulo">
                                </div>
                                <div class="col-sm-4 py-4">    
                                    <button type="submit" class="btn btn-primary" name="buscar" value="buscar">
                                        Buscar
                                    </button>
                                </div>
                            <br>  
                        </form>  
                    </div>
                </div>
            </div>
        </div>
 
        {% if datosPeliculas is defined %}
            <table border="1" style="width:100%">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Titulo</th>
                        <th>Director</th>
                        <th>Argumento</th>
                        <th>Ver Trailer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pelicula in datosPeliculas %}
                    <tr>
                        <td scope="row">
                            <img class="img-fluid" src={{pelicula.foto}} style="text-align: center;" /> 
                        </td>
                        {# Formateo a mayusculas con upper #}
                        <td>{{ pelicula.titulo | upper  }}</td>
                        <td>{{ pelicula.director | capitalize  }}</td>
                        <td>{{ pelicula.argumento }}</td>
                        {# Usamos embed en vez de watch #}
                        <td>
                            <iframe width="250" height="150" src="https://www.youtube.com/embed/{{pelicula.youTube}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                            </iframe>
                        </td>    
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        {% endif %}   
            
    </div>                      
{% endblock %}
