{% extends 'base.html.twig' %}

{% block title %} Mostrar Departamento{% endblock %}

{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Mostrar Departamento</h2>                    
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">    
                     
                        <form method="POST" action="{{ path('operacionesDept') }}">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Numero Departamento</label>
                                    <input type="number" class="form-control" placeholder="Introduce Numero Departamento" name="txtNumDep"  class="form-control" id="txtNumDep">
                                </div>    
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Nombre</label>
                                    <input type="text" class="form-control" placeholder="Introduce Nombre" name="txtNombre"  class="form-control" id="txtNombre">
                                </div>    
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label class="form-label">Localidad</label>
                                    <input type="text" class="form-control" placeholder="Introduce Localidad" name="txtLocalidad"  class="form-control" id="txtLocalidad">
                                </div>    
                            </div>
                            <br>    
                            <button type="submit" class="btn btn-primary" name="operacion" value="insertar">
                                Insertar
                            </button>
                            <button type="submit" class="btn btn-primary" name="operacion" value="modificar">
                                Modificar
                            </button>
                            <button type="submit" class="btn btn-primary" name="operacion" value="eliminar">
                                Eliminar
                            </button>
                        </form>                 

                        {% if mensaje is defined %}
                            <h2 style="color:red;">{{ mensaje }}</h2>   
                        {% endif %}  

                    </div>
                </div>
            </div>
        </div>
    </div>        
{% endblock %}
