<html>
    <head>
    </head>
    <body>
        {# Cargamos el Js de Jquery para poder usar sus funciones #}
        <script src="/jquery-3.2.1.min.js" type="text/javascript"></script>
        <h3>Le sugerimos lo siguiente:</h3>
        <ol class="round">
            <li class="one">
                <h5>Vista parcial de Personas</h5>
                <button type="button" id="btnpersonas">Vista de personas</button>
                {# Inicialmente ponemos el DIV a no visible #}
                <div id="detallepersonas" style="display: none"></div>
            </li>
            <li class="two">
                <h5>Vista parcial de Lenguajes</h5>
                <button type="button" id="btnlenguajes">Vista de lenguajes</button>
                {# Inicialmente ponemos el DIV a no visible #}
                <div id="detallelenguajes" style="display: none"></div>
            </li>
        </ol>
        <script>
        {# con Document.ready cuando termine de leer el documento ejecuta lo siguiente #}
            $(document).ready(function () {
                // Si se pulsa el primer boton con id btnpersonas 
                $("#btnpersonas").click(function () {
                    // Con el efecto .toggle() permite alternar entre dos acciones(mostrar u ocultar el div)
                    $("#detallepersonas").toggle("slow");
                    // carga y muestra RecuperarPersonas en el div detallepersonas
                    $("#detallepersonas").load("{{ path('RecuperarPersonas')}}");
                });
                // Si se pulsa el segundo boton con id btnlenguajes
                $("#btnlenguajes").click(function () {
                    // Con el efecto .toggle() permite alternar entre dos acciones(mostrar u ocultar el div)
                    $("#detallelenguajes").toggle("slow");
                    // carga y muestra RecuperarLenguajes en el div detallelenguajes
                    $("#detallelenguajes").load("{{ path('RecuperarLenguajes')}}");
                });
            });
        </script>