{% extends 'base.html.twig' %}
{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-2">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h1>Principales Distribuidoras</h1>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">
                        <table border="1" style="width:100%">
                            <tbody>
                                {# Recorro Distribuidoras para mostrarlas #}
                                {% for Distribuidora in datosDistribuidoras %}
                                <tr>
                                    <td scope="row">
                                        <a href="{{ Distribuidora.internet }}" target="_blank">
                                            <img class="img-fluid" src="img/{{Distribuidora.imagen}}" style="text-align: center;" /> 
                                        </a>
                                    </td>
                                    <td>
                                        {{ Distribuidora.distribuidora }}
                                    </td>
                                {% endfor %}
                            </tbody>
                        </table>                        
                           

                    </div>
                </div>
            </div>
{% endblock %}

