<html>
    <head>
        <title>FIGURAS</title>
    </head>
    <body>
        <h1>{{ autor }}</h1>
        <h2 align="center">Figuras históricas de las Matemáticas y la Geometría</h2>
        <ul type="disk">
            <li>Arquímedes</li>
            <li>Euclídes</li>
            <li>Hypatia</li>
            <li>Platón</li>
            <li>Pitágoras</li>
        </ul>
        <h2 align="center">Figuras mundiales del deporte</h2>
        <ul type="circle">
            <li>Cristiano Ronaldo</li>
            <li>Sergio Ramos</li>
            <li>Benzema</li>
            <li>Zidane</li>
        </ul>
        <h2 align="center">Figuras fracasadas del deporte</h2>
        <ul type="square">
            <li>Messi</li>
            <li>Luis Enrique</li>
            <li>Simeone</li>
            <li>Juan Fran</li>
        </ul>
    </body>
</html>