{% extends 'base.html.twig' %}

{% block title %} Mostrar Departamento{% endblock %}

{% block body %}
    <div id="content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Mostrar Departamento</h2>                    
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col-xl-9">
                    <div class="p-4">    
                     
                        <form name="formcombo" method="POST" action="{{ path('buscarEmpleado') }}">
                        
                            {# Como hay boton en el onchange no hago submit del formulario #}
                            Departamento: <select name="comboOficio" id="comboOficio">
                                {% for Empleado in datosEmpleados %}
                                    {# Si existe objeto, Si esta seleccionado oficio.id (value) #}
                                    {% if seleccionado is defined and Empleado.Oficio == seleccionado %}
                                        {# Se le pone atributo selected para que se quede seleccionado #}
                                        <option value="{{ Empleado.Oficio }}" name="empleado[]" selected>{{ Empleado.Oficio }}</option>
                                    {% else %}                                        
                                        <option value="{{ Empleado.Oficio }}">{{ Empleado.Oficio }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary">
                                Buscar
                            </button>
                        </form>

                        {# Si esta definida la variable muestra los datos del registro seleccionado #}
                        {% if datosEmpleadosOficio is defined %}
                                <h1>Grafico Salarial</h1>
                            {% for EmpleadosOficio in datosEmpleadosOficio %}    
                                <div>
                                    {{ EmpleadosOficio.apellido }}
                                </div>    
                                <div>
                                    {{ EmpleadosOficio.salario }}
                                </div>   
                                {% set longitud = EmpleadosOficio.salario/1000 %}
                                <div class="salarioBar" style="width:{{longitud}}px;position:relative;border:10px solid #000000;"    
                                    </div>    
                                    </div>
                            {% endfor %} 
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>        
{% endblock %}
